.button-turquoise {
  background-color: #40E0D0;
}

.button-peach {
  background-color: #ffcba4;
}

.button-green {
  background-color: #4CAF50;
}

.button-blue {
  background-color: #008CBA;
}

.button-red {
  background-color: #f44336;
}

.button-black {
  background-color: #555555;
}

.button-orange {
  background-color: orange;
}

.button-pink {
  background-color: #ff3399;
}

.button-purple {
  background-color: purple;
}

.button-brown {
  background-color: brown;
}

a.button-skill:visited {
	color: white;
}

a.button-skill:hover, a.button-skill:focus, a.button-skill:active { /** white or black **/
	color: white;
	outline: 0;
}

.button-skill {
  width: 250px;
  border: none;
  color: white;
  line-height: 4.8rem;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  font-family: "poppins-bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: .3rem;
}

@media only screen and (max-width:768px) {
    .button-skill {
		width: 100%;
		border: none;
        line-height: 4.8rem;
        margin-bottom: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
        font-weight: bold;
        font-family: "poppins-bold", sans-serif;
        text-transform: uppercase;
        letter-spacing: .3rem;
	}
}

.white-section {
	background: white;
}
.white-section p.lead {
	color: black;
}

